body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1{
    font-size: 50px;
}

#mar{
    margin-left: 30px;
}

.orange-color{
    color: orange;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}

.half-width img{
    width: 90%;
    margin-top: 10px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.exp-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 20px;
    padding: 15px;
    
}

#web-dev{
    border-left: 10px solid;
    border-image:  linear-gradient(orange, tomato);
    border-image-slice: 1;
}

#baby-dev{
    border-left: 10px solid;
    border-image:  linear-gradient(blue, cyan);
    border-image-slice: 1;
}
